<Ant_colony_optimization_configuration>
    <iterations value="100" />
    <ant_population value="10" />
    <evaporation_rate value="0.85" />
    <pheromone_potency value="0.55" />
    <pheromone_distribution value="0.5" />
    <max_min_ants_promoted value="2" />
    <algorithm_type value="max_min" />
    <init_pheromone_value value="1" />
    <graph_file value="InputGraph.csv" />

</Ant_colony_optimization_configuration>
